# Code-Owner: GitHub bittet sie bei jedem Pull Request, der passende Dateien ändert, um ein Review.
# https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @DritteRippe
